.Container{
    width: 100%;
    background:url("../../assets/images/CompaniesBg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .Section{
        max-width: 1300px;
        height: fit-content;
        margin: auto;
        padding-top: 30px;
        @media(max-width:764px){
            padding: 50px 20px;
        }
        .Title{
            h2{
                font-size: 47px;
                color: #1A2251;
                margin: 0;
                font-weight: 400;
                @media(max-width:764px){
                    font-size: 24px;
                    line-height: 32px;
                    display: flex;
                    gap: 5px;
                }
                span{
                    font-weight: 600;
                    @media(max-width:764px){
                        font-size: 24px;
                        line-height: 32px;
                    }
                }
            }
        }
        .Cards{
            padding: 100px 0px;
            padding-top: 75px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 40px;
            width: 100%;
            height: fit-content;
            @media(max-width:764px){
                padding-top: 20px;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            padding: 20px 0px;
            }
            
        }
    }
}