.Container{
    width: 100%;
    height: 100%;
    position: relative;
    height: 42vw;
    background:url("../../assets/images/WhyChooseBanner.png");
    background: linear-gradient(90deg, #31AEDA 0%, #53AF84 100%);

    background-size: cover;
    background-repeat: no-repeat;
    @media(max-width:764px){
        // min-height: 50vh;
        height: auto;
     }
    .Shape{
        // width: 250px;
        // height: 250px;
        // position: absolute;
        // background: #C5E6D5;
        // z-index: 99;
        // left: 0;
        // top: 0;
        // transform: rotate(45deg) translateX(-50%);
        width: 550px;
        height: 550px;
        position: absolute;
        background: #C5E6D5;
        z-index: 9999;
        left: 0;
        top: 0;
        transform: rotate(19deg) translate(-84%,7%);
        @media(max-width:764px){
            display: none;
         }
    }
    .ImageOverlay{
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(90deg, #31AEDA 0%, #53AF84 100%);
        opacity: 1;
    background:url("../../assets/images/WhyChooseBanner.png");

        z-index: 9;
    }
    .Section{
        position: relative;
        z-index: 99;
        width: 100%;
        height: 100%;
        max-width: 1300px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @media(max-width:764px){
            padding: 50px 20px;
            width: -webkit-fill-available;
            flex-direction: row;
            
        }
        .Left{
            padding: 100px 0px;
            height: 100%;
            width: 70%;
            position: relative;
            @media(max-width:764px){
                padding: 0;
                width: 100%;
                
            }
            .Image{
                position: absolute;
                left: 25%;
                top: 20%;
                z-index: 999;
                width: 100%;
                @media(max-width:764px){
                    position: relative;
                    left: 0;
                    top: 0;
                    
                }
                .Content{
                    max-width: 550px;
                    width: 100%;
                    height: 400px;
                    position: absolute;
                    top: 0%;
                    transform:translate(20%,35%);
                    left: 0;
                    @media(max-width:764px){
                       transform: none;
                       height: auto;
                       position: relative;
                       max-width: 100%;
                        
                    }
                    p{
                        font-size: 18px;
                        color: #fff;
                        @media(max-width:764px){
                            font-size: 13px;
                            line-height: 18px;
                            
                        }
                    }
                }
                img{
                    opacity: 0.8;
                    @media(max-width:764px){
                        width: 100%;
                        display: none;
                        
                    }

                }
            
                .Title{
                    font-size: 50px;
                    color: #fff;
                    font-weight: 700;
                position: absolute;
                top: 0%;
                transform:translate(20%,-15%);
                left: 0;
                @media(max-width:764px){
                    font-size: 24px;
                    position: relative;
                    line-height: 28px;
                    transform: none;
                    margin: 0;
                    
                }

    
                }
            }
        }
        .Right{
            width: 100%;
            height: 100%;
            position: relative;
            @media(max-width:764px){
                display: none;
                
            }
            img{
                width: fit-content;
                position: absolute;
                height: 100%;
                top: 50%;
                right: 0%;
                transform: translate(16%,-50%);
                object-fit: cover;
            }
        }
    }
}