.Container{
    height: 100%;
    
    // padding: 50px 100px;
    background: #BDDDCC;
    input,label,textarea{
        font-family: "Kanit";
    }
    .Section{
        width: 80%;
        max-width: 1300px;
        height: 100%;
        margin: auto;
        padding: 0px 0px;
        // padding-bottom: 135px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
        @media(max-width:764px){
            flex-direction: column;
            gap: 20px;
            padding: 50px 20px;
            width: -webkit-fill-available;
        }
        .left{
            width: 50%;
            padding-top: 200px;
            padding-bottom: 100px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            @media(max-width:764px){
                width: 100%;
                padding: 25px 0px;
            }
            // gap: 25px;
            .Title{
                @media(max-width:764px){
                    margin-bottom: 10px;
                }
                h2{
                    font-size: 50px;
                    font-weight: 400;
                    color: #1B2351;
                    margin: 0;
                    @media(max-width:764px){
                        font-size: 24px;
                        line-height: 32px;
                    }
                span{
                    font-weight: 600;
                    @media(max-width:764px){
                        font-size: 24px;
                        line-height: 32px;
                    }
                }    
                }
                margin-bottom: 25px;
            }
            .Description{
                padding-right: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 0px;
                @media(max-width:764px){
                    padding-right: 0px;
                }
                
                p{
                    font-size: 24px;
                    margin: 0;
                    font-weight: 400;
                    color: #1B2351;
                    @media(max-width:764px){
                    font-size: 13px;
                    line-height: 18px;
                }
                }
            }
            .Image{
                width: 100%;
                height: 100%;
                @media(max-width:764px){
                    display: none;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            // display: flex;
            //         flex-direction: row;
            //         justify-content: flex-start;
            //         align-items: center;
            //         gap: 2px;
            //         span{
            //             width: 5px;
            //             height: 5px;
            //             border-radius: 100%;
            //             background-color: #fff;
            //         }
        }
        .right{
            padding: 175px 0px;
            padding-top: 160px;
            width: 50%;
            height: 100%;
            @media(max-width:764px){
                width: 100%;
                padding: 50px 0px;
                padding-top: 0;
            }
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 30px;
                @media(max-width:764px){
                    gap: 15px;

                }
                .row{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 35px;
                    align-items: center;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    @media(max-width:764px){
                        gap: 15px;
                    grid-template-columns: repeat(1,1fr);

                        
                    }
                }
                .inputDiv{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    width: 100%;
                    gap: 10px;
                    @media(max-width:764px){
                        gap: 5px;
                        
                    }
                    label{
                        font-size: 18px;
                        font-weight: 400;
                        color: #1B2351;
                        @media(max-width:764px){
                            font-size: 12px;
                            line-height: 18px;
                            
                        }
                    }
                    input,textarea{
                        // width: 100%;
                        width: -webkit-fill-available;
                        padding: 20px;
                        background-color: #fff;
                        border-radius: 5px;
                        border: none;
                        outline:none;
                        font-size: 18px;
                        @media(max-width:764px){
                            padding: 10px 15px;
                            font-size: 13px;
                            line-height: 18px;
                            
                        }
                    }
                }
                .ActionBtn{
                    input{
                        border: none;
                        outline: none;
                        padding: 10px 20px;
                        // text-transform: uppercase;
                        color: #fff;
                        border-radius: 5px;
                        font-size: 23px;
                        font-weight: 400;
                        background: rgb(46,172,222);
                        background: linear-gradient(90deg, rgba(46,172,222,1) 0%, rgba(86,173,128,1) 100%);
                        @media(max-width:764px){
                            font-size: 14px;
                            line-height: 18px;
                            padding: 10px 15px;
                        }
                    }
                }
            }
        }
    }
}