.Container{
    position: relative;
    overflow: hidden;
    .TopHeader{
        width: 100%;
        position: absolute;
        left: 0;top: 0;
        img{
            width: 100%;

        }

    }
    // .SideHeader{
    //     width: 550px;
    //     height: 605px;
    //     background: #1B2351;
    //     position: absolute;
    //     transform: translate(-66%, -30%) rotate(30deg);
    //     left: 0;
    //     top: 0;
    // }
    .Section{
        max-width: 1100px;
        margin: auto;
        padding: 100px 0px;
        @media(max-width:764px){
            padding: 50px 20px;


        }
        .ListofCompanies{
            padding-top: 300px;
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3,1fr);
            gap: 100px;
            @media(max-width:764px){
                grid-template-columns: repeat(2,1fr);
                gap: 20px;
                padding-top: 50px;

            }
            .Company{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 100%;
                    max-width: 200px;
                    max-height: 150px;
                    height: auto;
                    object-fit: contain;
                    @media(max-width:764px){
                        max-height: 75px;
                        max-width: 100px;
        
                    }
                }
            }
        }

    }
}